# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Cesar Caetano Neto
	email = cesarcneto@gmail.com
[core]
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE